<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456362499-cfn6hdsvh7dg8b5p2oi7qhh9i5jhhnm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456362499-cfn6hdsvh7dg8b5p2oi7qhh9i5jhhnm9</string>
	<key>API_KEY</key>
	<string>AIzaSyC_US2y2RpoqHwZbYtqcGN2A0z9LfZemik</string>
	<key>GCM_SENDER_ID</key>
	<string>456362499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tender</string>
	<key>PROJECT_ID</key>
	<string>tender-e0fd7</string>
	<key>STORAGE_BUCKET</key>
	<string>tender-e0fd7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456362499:ios:624430b7f42b59962edc36</string>
</dict>
</plist>